/* 
    Document   : codeline
    Created on : Dec 22, 2012, 10:42:19 PM
    Author     : puterakahfi
    Description: page style
*/
body{
   background: url(../img/debut_light.png); 
}

.personal-info{}


#container-data{
    margin-top: 50px;
    background: white;
    padding:15px;
    border: 1px solid #CFCFCF;
}

.box h3{
	text-align:center;
	position:relative;
	top:80px;
}
.box {
	width:70%;
	height:200px;
	background:#FFF;
	margin:40px auto;
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
#container-data:before, #container-data:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#container-data:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}      

.skill-wrapper{
    text-align: center;
    font-weight: bold;
}

.head-label{
    color:#FF7400;
    color: black;
}

.container-sub-content{
    color:#BC1C48;
    

}